<!-- Aside Area Start -->
<aside id="cart-sidebar" class="cart">
    <a class="remove"><i class="fa fa-times fa-2x"></i></a>

    <h2>Cart</h2>
    <!-- cart-items start-->
    <ul class="cart-items">
        <li>
            <span class="item-quantity">1x</span> <span class="item-name">Product Name</span>
            <div class="item-price">$9.99</div>
            <a href="#0" class="item-remove"></a>
        </li>
    </ul>
    <!-- cart-items end -->

    <div class="cart-total">
        <p>Total <span>$39.96</span></p>
    </div> <!-- cart-total -->

    <a href="#" class="checkout-button">Checkout</a>
</aside> <!-- cart end -->
<!-- Aside Area end -->