.flex-container {
  list-style: none;
  padding: 0;
  margin: 0;

  /* Сначала создадим flex-контекст */
  /* display: inline-flex; */
  display: flex;
  /* display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex; */

  /* Теперь определим направление потока
            * flex-direction: row | row-reverse | column | column-reverse
            * Устанавливает главную ось main-axis, определяя тем самым направление для flex-элементов, размещаемых в контейнере.
            * row (по умолчанию): слева направо для ltr, справа налево для rtl;
            * row-reverse: справа налево для ltr, слева направо для rtl;
            * column: аналогично row, сверху вниз;
            * column-reverse: аналогично row-reverse, снизу вверх.
          */

  /* row (по умолчанию): слева направо для ltr, справа налево для rtl; */
  /* flex-direction: row; */
  /* row-reverse: справа налево для ltr, слева направо для rtl; */
  /* flex-direction:row-reverse; */
  /* column: аналогично row, сверху вниз; */
  /* flex-direction:column; */
  /* column-reverse: аналогично row-reverse, снизу вверх. */
  /* flex-direction:column-reverse; */
  /* flex-direction:initial; */
  /* flex-direction:unset; */

  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */
  flex-flow: row wrap;

  /* Теперь определим, как будет распределяться пространство */
  justify-content: space-around;
}

// .flex-item {
//   background: tomato;
//   padding: 5px;
//   max-width: 100%;
//   width: 270px;
//   height: 200px;
//   margin: auto;
//   line-height: 150px;
//   text-align: center;
// }

// .flex-item:last-child{
//   background-color:#e7cd3c;
//   order: -1;
// }


.flex-item {
  flex: 1 1 auto;
  width: 50px;
  transition: width 0.7s ease-out;
}

.flex-item:nth-child(1) {
  background: rgba(0, 0, 255, 1);
}

.flex-item:nth-child(2) {
  background: rgba(255, 255, 1, 1);
}

.flex-item:nth-child(3) {
  background: rgba(255, 255, 255, 1);
}

.flex-item:nth-child(4) {
  background: rgba(255, 255, 1, 1);
}

.flex-item:nth-child(5) {
  background: rgba(0, 0, 255, 1);
}

.flex-item:hover {
  width: 200px;
}

.parent {
  display: flex;
  height: 300px;
  /* Или что угодно */
}

.child {
  height: auto;
  /* Или что угодно */
  margin: auto;
  /* Магия! */
}


.flex-section {
  display: flex;
}

.flex-article {
  margin: 1rem;
  /* flex-grow: 1; */
  flex: 1;
  /* flex-basis: 250px; */
  /* flex-shrink: 0;  */
}

.breaking {
  /* flex-grow: 2; */
  flex: 2;
}

@media screen and (max-width: 750px) {
  body>h1 {
    font-size: 2rem;
  }

  .flex-section {
    flex-direction: column;
  }
}

.main {
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
}

.main>article {
  margin: 4px;
  padding: 5px;
  border: 1px solid #cccc33;
  border-radius: 7pt;
  background: #dddd88;
  flex: 3 1 80%;
  order: 2;
}

.main>aside {
  margin: 4px;
  padding: 5px;
  border: 1px solid #8888bb;
  border-radius: 7pt;
  background: #ccccff;
  flex: 1 6 20%;
  order: 3;
}

footer {
  display: block;
  margin: 4px;
  padding: 5px;
  min-height: 100px;
  border: 1px solid #eebb55;
  border-radius: 7pt;
  background: #ffeebb;
}

@media all and (max-width: 640px) {
  .main {
    flex-direction: column;
  }

  header,
  .main>article,
  .main>aside {
    /* Return them to document order */
    order: 0;
  }

  .main>aside,
  footer {
    min-height: 50px;
    max-height: 50px;
  }
}



//

.u-box {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.box-base {
  background: #ff0;
  min-height: 430px;
  font-size: 5rem;
  color: #eee;
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-side {
  margin-left: 30px;
  display: flex;
  flex: 0 0 220px;
  flex-direction: column;
}

.box-itm {
  background: #00f;
  min-height: 200px;
  font-size: 5rem;
  color: #eee;
  margin-bottom: 30px;
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-itm:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .box-base {
    margin-bottom: 30px;
    flex: 0 1 100%;
  }

  .box-side {
    margin-left: 0;
    flex: 1 1 100%;
    flex-direction: row;
  }

  .box-itm {
    margin: 0 0 0 30px;
  }

  .box-itm:first-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .box-side {
    flex-direction: column;
  }

  .box-itm {
    margin: 0 0 30px;
  }

  .box-itm:last-child {
    margin-bottom: 0;
  }
}

.flex-video {
  position: relative;
  padding-top: 25px;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 800px),
only screen and (device-width: 1024px) and (device-height: 600px),
only screen and (width: 1280px) and (orientation: landscape),
only screen and (device-width: 800px),
only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0;
  }
}

.row {
  display: flex;
}

.inner-wrap {
  margin: 0 auto;
}

footer[role="contentinfo"] {
  height: 40px;
  background: #FF9D3C;
  vertical-align: middle;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;

  max-width: 700px;
  /* макс ширина */
  margin: 0 auto;
  /* выровняем по центру */
}

.flex-col {
  flex: 1 1 calc(33.33% - 30px);
  /* отнимем margin и скажем растягиваться */
  margin: 5px;
  box-sizing: border-box;
  /* чтобы внутренний отступ не влиял когда там будет текст... */
  min-width: 170px;
  /* мин. ширина блока, чтобы переносились на другой ряд */

  padding: 50px 20px;
  font-size: 400%;
  text-align: center;
  background: #b5ced8;
  /* для красоты */
}

.flex-block {
  display: flex;

  overflow: hidden;
  /*скроем тень*/
}

.item-block {
  height: 300px;

  flex: 20%;
  /* = flex-basis:20%; */

  transition: flex 300ms ease;

  box-shadow: 0 0 19px 3px #000;
  margin: 1px;
  /* красивости тени */
}

.item-block:hover {
  flex: 0.1 0.1 400px;
  background-size: 100% 100%
}

.img1 {
  background: url('../images/cat1.jpg') 0 0 no-repeat;
}

.img2 {
  background: url('../images/cat2.jpg') 0 0 no-repeat;
}

.img3 {
  background: url('../images/cat1.jpg') 0 0 no-repeat;
}

.img4 {
  background: url('../images/cat4.jpg') 0 0 no-repeat;
}

.img5 {
  background: url('../images/cat2.jpg') 0 0 no-repeat;
}


.flex-grid {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;

  display: flex;
  justify-content: space-between;


  /* item */
  & .grid-item {
    max-width: 250px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .grid-item:nth-child(2) {
    margin-left: 1em;
    margin-right: 1em;
  }

  /* внутри item */
  & .grid-item .text,
  & .grid-item .link {
    margin-top: 2em;
  }

  & .grid-item img {
    border-radius: 50%;
  }

  & .grid-item .text {
    flex-grow: 1;
  }

  & .grid-item .link a {
    display: block;
    padding: .5em 2em;
    max-width: 160px;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    background: #6b6b6b;
    border-radius: 3px;
  }
}