.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 5px;
    grid-auto-flow: dense;

    & article {
        // color: #fff;
        // font-size: 2em;
        display: flex;
        flex: 1 1 240px;
        justify-content: center;
        align-items: center;
        margin: 0 10px;

        & img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.cards {
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
        border: 2px solid #490A3D;
        border-radius: 5px;
        background-color: #BD1550;
        color: #fff;
        flex: 1 1 240px;
    }

    & h2 {
        background-color: #490A3D;
        margin: 0;
        padding: 10px;
    }

    & p {
        padding: 10px;
    }

    & img {
        padding: 10px;
        max-width: 100%;
    }

 }

    // .header{
    //     grid-column: -11 / -1;    
    // }
    // .aside{
    //     grid-column: 1 / span 2;

    //     // grid-column-start:1; 
    //     // grid-column-end: 3;

    //     // grid-column: 1  / 3;
    //     // grid-column: 1 / span 2;

    //     grid-row: 1 / -1;
    // }
    // .content{
    //     grid-column: -11 / -1;
    // }
    // .footer{
    //     grid-column: -11 / -1;
    // }

