@mixin setColor($color){
	.title{
		background: $color;
	}
	.subtitle:after{
		color: white;
	}
	&:hover .subtitle:after{
		color: $color;
	}
  }
  
  .red{
	@include setColor(#DC514E);
  }
  
  .green{
	@include setColor(#2ecc71);
  }
  
  .gray{
	@include setColor(#95a5a6);
  }
  
  .yellow{
	@include setColor(#f1c40f);
  }
  
  .blue{
	@include setColor(#3498db);
}

