//Color Variables

$primary-color: #333;
$primary-bg-color: #F5F4F3;
$maroon: #903749; //Maroon
$red: #E83b24; //Red
$plum: #53354A; //Plum
$light-grey: #ddd;
$link-color:#06532d;
$link-hover:#93B876;
$teal: teal;

//Common Variables

$base-font-family:  'Raleway', sans-serif;
$base-font-size: 71.42857%;
$base-font-weight: 400;
$base-line-height: 1.75;
$base-line-height: 0.025em;

$link-vertical-padding:15px;      //Controls Menu top & bottom padding
$link-horizontal-padding:20px;    //Contols Menu left & right padding
